/* Navbar */

#navbar .logo {
    float: none;
    text-align: center;
    /* padding-left: 0; */
}

#navbar ul,
#navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

/* Showcase */

#showcase {
    height: 100%;
}

#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
}

/* Home Info */
/* 
#home-info {
    height: 550px;
    margin-top: 20px;
} */

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    text-align: center;
    padding: 20px 30px;
}

#home-info .info-content p {
    text-align: justify;
}

.box {
    float: none;
    width: 100%;
}

.btn{
    padding: 10px 15px;
}

#middle-box {
    background: gray;
    color: #fff;
}

/* About Info */
#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

#about-info .info-right {
    margin-top: 30px;
}

/* Contact Boxes */

#contact-info .box {
    float: none;
    border-bottom: #555 dotted 2px;
    text-align: center;
    color: #fff;
}