/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes (was  used throughout the site) */
.container {
    margin: auto;
    max-width: 1600px;
    overflow: auto; /* To always show the background */
}

.text-primary {
    color: #f4c46c;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background: #1d4567;
    padding: 13px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    color: #f4f4f4;
    background: #341c0c;
    background: #f4c46c;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}


.bg-dark {
    background: #fff;
    color: black;
}

.bg-light {
    background: #143b5e;
    color: #fff;
    opacity: 0.9;
}

.bg-primary {
    background: #f4c46c;
    opacity: 0.8;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-align: justify;
}

.bg-colored{
    background-color: #143b5e;
    color: #fff;

}

.clr {
    clear: both;
}

.l-heading {
    font-size: 40px;
    line-height: 1.2;
}

/* Element Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4em;  
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 5px 0px;
}

/* Padding */

/* y-axis (vertical) padding */
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* x-axis (horizontal) padding */
.px-1 { padding: 0 10px; }
.px-2 { padding: 0 20px; }
.px-3 { padding: 0 30px; }

/* Navbar */
#navbar {
    background: #1d4567;
    color: #fff;
    border-bottom: 3px #f4c46cec solid;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar .logo {
    float: left;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-left: 20px;
}
#navbar .logo a:hover{
    color: #f4c46c;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
/* Specifying the class to have this stylings is "current" */
#navbar ul li a.current {
    background: #f4c46c;
    color:black;
    font-weight: bold;
}

/* Showcase */
#showcase {
    background: url('../Images/LHS-bg.jpeg') no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Home Info */

#home-info {
    height: 450px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../Images/LHS-bg.jpeg') no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 40px 30px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 15px;
}


.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}
/* .box-1, .box-2, .box-3 {
    float: left;
    width: 33.3%;
    padding: 30px 20px;
    text-align: center;
    color: #fff;
} */
/* .box-2 {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    color: #fff;
}
.box-3 {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    color: #fff;
} */


/* About Info */

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
    text-align: center;
}

/* Testimonials */

#testimonials {
    height: 100%;
    background: url('../Images/aboutbg-1.jpg') no-repeat center center/cover;
    padding-top: 40px;
}

#testimonials h2 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-bottom: 40px;
} 

#testimonials .testimonial img {
    float: left;
    margin-right: 20px;
    width: 100px;
    border-radius: 50%;
}

#testimonials .testimonial {
    padding: 30px 20px;
    margin-bottom: 40px;
}

/* Contact Form */

#contact-form {
    text-align: center;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

#contact-form button {
    width: 25%;
    align-items: center;

}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 10px;
}

/* When the input or text area is clicked on */
#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color:#1d4567;
    background-color: #f4f4f4;
} 

/* Footer */

#main-footer {
    text-align: center;
    background: #1d4567;
    padding: 20px;
    color: #fff;
}
 
    /* gallery section */
    #gallery .container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px;
    padding: 15px 10px;
    border: 2px #1d4567 solid;
    border-radius: 10px;
   
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(78, 73, 73, 0.3); 
    max-width: 25vw;
    flex: 1;
  }

  .gallery p{
    text-align: center;
    font-size: 1.2rem;
  }
   
